<div class="container">
<div class="well">

  <div class="row">
    <div class="col-xs-8">
     <h4> hello</small></h4>
     </div>
    <div class="col-xs-4">
             <div class="input-group">
                    <div class="input-group-btn">
                     <%= image_tag "salwar.jpeg" %>
          </div>
     <div class="col-xs-4">
             <div class="input-group">
                    <div class="input-group-btn">
                     <%= image_tag "saree.jpeg" %>
          </div>
          <div class="col-xs-4">
             <div class="input-group">
                    <div class="input-group-btn">
                     <%= image_tag "shirt.jpeg" %>
          </div>
          </div>
          </div>

        </div>

    </div>
    
  </div>
</div>                
</div>  
