<div class="row">
    <div class="col-xs-8">
    <h4> hello</small></h4>
     </div>
    <div class="col-xs-4">
             <div class="input-group">
                    <div class="input-group-btn">
                     <%= image_tag "sofas.jpeg" %>
          </div>
          <div class="col-xs-4">
             <div class="input-group">
                    <div class="input-group-btn">
                     <%= image_tag "kitchen1.jpeg" %>
          </div>
           <div class="col-xs-4">
             <div class="input-group">
                    <div class="input-group-btn">
                     <%= image_tag "diningtable.jpeg" %>
          </div>

          </div>
          </div>

        </div>

    </div>
    
  </div>
</div>                
</div>  
