<!DOCTYPE html>
<html>
<head>
  <title>Filter</title>
     <h1> filtering with search field</h1>
</head>
<div class="grid">
  <div class="product">
    <h3 class="name">Saree</h3>
    <p class="id_number">23</p>
  </div>
  <div class="product">
    <h3 class="name">car</h3>
    <p class="id_number">28</p>
  </div>
</div>
</html>